{% set frParams = locparams|default({})|merge({'_locale': 'fr'}) %}
{% set enParams = locparams|default({})|merge({'_locale': 'en'}) %}

<div class="eSeeraiwer-toolbar-block esbarLocale">
    <div class="eSeeraiwer-toolbar-icon">
        <a href="#">
            {% if app.request.locale == 'fr' %}
                <img width="26" alt="{{ 'toolbar.locale.fr'|trans({}, 'ESBarBundle') }}" src="{{ asset('bundles/elsassseeraiweresbar/images/flags/fr.png') }}">
            {% else %}
                <img width="26" alt="{{ 'toolbar.locale.en'|trans({}, 'ESBarBundle') }}" src="{{ asset('bundles/elsassseeraiweresbar/images/flags/en.png') }}">
            {% endif %}
        </a>
    </div>      
    <div class="eSeeraiwer-toolbar-info">
        {% if app.request.locale == 'fr' %}
            <div class="eSeeraiwer-toolbar-info-piece" style="margin-bottom:0px;">
                <a href="{{ path(main_route|default('elsass_seeraiwer_esbar_element_toolbarlocale'), enParams) }}" rel="fr">
                    <img width="26" alt="{{ 'toolbar.locale.en'|trans({}, 'ESBarBundle') }}" src="{{ asset('bundles/elsassseeraiweresbar/images/flags/en.png') }}">
                </a>
            </div>
        {% else %}
            <div class="eSeeraiwer-toolbar-info-piece" style="margin-bottom:0px;">
                <a href="{{ path(main_route|default('elsass_seeraiwer_esbar_element_toolbarlocale'), frParams) }}" rel="en">
                    <img width="26" alt="{{ 'toolbar.locale.fr'|trans({}, 'ESBarBundle') }}" src="{{ asset('bundles/elsassseeraiweresbar/images/flags/fr.png') }}">
                </a>
            </div>
        {% endif %}
    </div>
</div>